---
import { VentureCard } from '../components/VentureCard.tsx';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Acorn Ventures</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="page-container">
        <div class="content-wrap">
            <div class="container">
                <h1>Happy Acorn Ventures</h1>
                <p class="tagline">We build and support ventures from idea to independence</p>
                <!-- <p class="tagline">Building and supporting ventures from idea to independence.</p> -->
                <a href="https://cal.com/thatrandybrown" class="cta-button">Schedule a Call</a>
                <div class="card-grid">
                    <VentureCard title="DevOps as a Service" description="A comprehensive solution for managing development and operations for bootstrapped founders and small startups." stage="Active" party="First" />
                    <VentureCard title="Business Consulting" description="Helping founders go from zero to their first sale, providing tailored support with business formation, bank setup, and growth strategies to ensure their venture takes root and thrives." stage="Incubating" party="First" />
                    <VentureCard title="Code 43, LLC" description="Code 43 is working on making tools for social marketing" stage="Incubating" party="Third" />
                    <VentureCard title="Glass Slipper Craft Boutique, LLC" description="A boutique specializing in handcrafted items for all occasions." stage="Incubating" party="Third" />
                    <VentureCard title="Board Game Design and Development" description="We create engaging board games that inspire creativity and fun for all ages." stage="Ideation" party="First" />
                    <VentureCard title="Some Noodle Shop" description="Some Noodle Shop is bringing AI experiences from the future to the present." stage="Ideation" party="Second" />
                </div>
                <!-- <div class="container">
                    <p>The best time to plant a tree was 20 years ago. The second best time is now.</p>
                    <a href="https://cal.com/thatrandybrown" class="cta-button">Schedule a call to start your future</a>
                </div> -->
            </div>
        </div>
        <footer>
            <p>&copy; 2025 Happy Acorn Ventures, LLC.</p>
        </footer>
    </div>
</body>
</html>
